<%- include('partials/header.ejs') %>
<body>
    <br><div class="container">
        <div class="d-flex justify-content-between">
            <span></span>
            <a href="/" class="btn btn-primary">Lista de Perguntas</a>
        </div>
        
        <hr>
        <h2 class="card-title"><%= pergunta.titulo %></h2>
        <p><%= pergunta.descricao %></p><hr><br>
        <form action="/responder" method="POST">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                    <textarea name="corpo" class="form-control form-control-lg"  rows="3" placeholder="Digite a sua resposta aqui" autofocus required></textarea>
                </div>
            </div><br>
            <div class="d-flex justify-content-between">
                <span></span>
                <button type="submit" class="btn btn-primary btn-lg">Responder</button>
            </div>
        </form>
        <br><hr><br>
        <% respostas.forEach(resposta => {%>
           <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                    <span><%= resposta.createdAt.toLocaleString() %></span>
                </div>
            </div><br>
        <% }) %>
    </div>
</body>

 
 